.layui-body{
	margin: 0;
	background: #333;
}
#housing_summary{
	position: absolute;
	width: 30%;
	height: 40%;
	top: 3%;
	left: 2%;
	font-size: 30px;
	display: flex;
	align-content: center;
	align-items: center;
	background:#17533b;
}
#cap_summary{
	position: absolute;
	width: 30%;
	height: 40%;
	top: 3%;
	left: 35%;
	font-size: 20px;
	background:#167821;
}
#ido_summary{
	position: absolute;
	width: 30%;
	height: 40%;
	top: 3%;
	left: 68%;
	background: #19233b;
/*	font-size: 20px;*/
}
#c1{
	position: absolute;
	height: 90%;
	width: 88%;
	top: 10%;
	left: 12%;
}
.button{
	position: absolute;
	height: 5%;
	width: 100%;
/*	top: 0;*/
	left: 0%;
	color: white;
	font-size: 18px;
	border-style:solid none none;
	border-width: 1px;
	background: #19233b;
/*    border-width:1px;*/
}
.button:hover{
	background: #253544;
}